# ttshop
.htaccess
.user.ini
.CLAUDE.md
AGENTS.md
CLAUDE.md
Dockerfile
# config.php
/content/backup/*.sql
/content/cache/*
/content/uploadfile/*

# IDE
.project
.settings
.buildpath
.cache
.idea
.claude
.vscode
.netbeans
.DS_Store

# docker
db_data/*

